/* body{
    background-color: black;
   
}
.form{
    border: 1px solid black;
 background-color: violet; 
 border-radius: 100px;
 height: 500px;

}
.form-control , .btn-primary{
    border-radius: 20px;
    height: 50px;
}

.col{
    text-align: center;
} */


.form1 {
    box-shadow: inset;
  width: auto;
    background-color: aqua;
}

.btn-primary {
    width: 150px;
}

.form-group,.form-check {
    width: 300px;
   margin-left: 40px;
}

.form-group {
    align-items: center;
    /* background-color: gold; */
    color: dodgerblue;
}
